html {
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #282c34;
    background-image: url(/markus-spiske-KU3lOAiP-tQ-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

small {
    font-size: 0.6em;
}

.github-corner:hover .octo-arm {
    animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,100% { transform:rotate(0) } 20%,60% { transform:rotate(-25deg) } 40%,80% { transform:rotate(10deg) }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation:none;
    }
    .github-corner .octo-arm {
        animation:octocat-wave 560ms ease-in-out;
    }
}
